@import helper._
@import haplothings.boundaries.datamodels.HaploSaid

@(haploSaidForm: Form[HaploSaid] )( implicit token: play.filters.csrf.CSRF.Token )


@form( CSRF( routes.HaploSaidController.submit() )){
  @helper.inputText( haploSaidForm( "who_said" ),
  'class -> "form-control", 'placeholder -> "Haplo",
  '_label -> "Who said it" )
  @helper.textarea( haploSaidForm( "what_said" ),
    'class -> "form-control",  '_label -> "What they said")
  @helper.inputText( haploSaidForm( "context_note" ),
    'class -> "form-control", '_label -> "Note about context")

  <div class="actions">
    <input type="submit" value="Save this Shit Haplo Said"
        class="btn btn-primary pull-right" />
  </div>
}
