@(shitHaploSaid : List[(Int, String, Option[String], org.joda.time.DateTime)] )

@import helper._

@main("Shit Haplo Says"){
  <h1>Shit Haplo Said</h1>


  @shitHaploSaid.map {
    case ( id, what_said, context, when_said ) => {
      <div>
        <span>Added on: </span>
        <span>
          <h2>Haplo Said...</h2>
          <p>
            @what_said
          </p>
        </span>
        <span>
          <h2>Note: </h2>
          <p>
            @context
          </p>
        </span>

      </div>
    }
  }
}
