@(shitHaploSaid : List[(Option[Int], String, Option[String], Option[org.joda.time.DateTime])],
  haploSaidForm: Form[HaploSaid] )

@import helper._
@import org.joda.time.format._
@import java.util.Locale

@main("Shit Haplo Says"){
  <div class="container">

    <div class="row">
      <div class="col-sm-6">
        <h1>Shit Haplo Said</h1>
        @shitHaploSaid.map {
          case ( id, what_said, context, when_said ) => {
            <div class="panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">
                  Haplo Said...
                  <div class="pull-right">
                    @when_said
                  </div>
                </h3>
              </div>
              <div class="panel-body">
                @what_said
              </div>
              <div class="panel-body">
                <strong>Note:  </strong>@context
              </div>
            </div>
          }
        }
      </div>
      <div class="col-sm-4">
        <h2>Add more haplo sayings...</h2>
        @haplo_said.createForm( haploSaidForm )
      </div>
  </div>
}
