@import helper._
@import haplothings.boundaries.datamodels.HaploSaid

@(shitHaploSaid : List[HaploSaid],
  haploSaidForm: Form[HaploSaid] )( implicit token: play.filters.csrf.CSRF.Token )


@main("Shit Haplo Says"){
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1>Shit Haplo(or someone else) said</h1>
          @shitHaploSaid.map { haploSaid =>
            @haplo_said.said_template( haploSaid )
          }
      </div>
      <div class="col-sm-4">
        <h2>Add more haplo sayings...</h2>
        @haplo_said.createForm( haploSaidForm )
      </div>
    </div>
  </div>
}
